{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Natalis Domini Art пространство</title>
    <link rel="icon" type="image/x-icon" href="{% static 'assets/logo.ico' %}">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <style>
        /* Скрываем меню по умолчанию */
        #menu {
            display: none;
        }

        /* Показываем меню, если добавлен класс .open */
        #menu.open {
            display: block;
        }
    </style>

</head>
<body class="bg-custom-light">
<div class="bg-image" style="background-image: url('{% static 'images/i.jpg' %}');
    background-size: cover;
    background-position: left top;
    height: 100%;
    width: 100%">


    {% block content %}

    {% endblock %}

    <!-- Футер -->
    {% include 'gallery/footer.html' %}

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</div>
</body>
</html>