{% extends 'gallery/base.html' %}
{% load path %}

{% block content %}

<a href="{% url 'gallery:index' %}" class="btn bg-custom-orange text-custom-teal my-5 mx-5"
   style="align-center">Назад</a>
<div class="container">
    <div class="col-auto bg-custom-light">
        <a href="{% get_url_picture object.picture %}">
            <div class="artwork-container">
                <img src="{% get_url_picture object.picture %}" alt="{{ object.name }}" class="artwork-image">
            </div>
        </a>
        <h5 class="card-title">{{ object.name }}</h5>
        <!-- Описание картины -->
        <p class="card-text">{{ object.description }}</p>
        <p class="card-text">Цена: {{ object.price }} руб.</p>

        {% if object not in preorder_list %}
            <form method="GET" action="{% url 'trade:mark_to_buy' object.pk %}">
                <input type="number" name="quantity" min="1" max="5" value="1" required>
                <button type="submit" class="btn bg-custom-orange text-custom-teal">В корзину</button>
            </form>
        {% else %}
            <a href="{% url 'trade:mark_to_buy' object.pk %}" class="w-100 btn btn-sm btn-secondary"
            style="align-center">Убрать из корзины</a>
        {% endif %}
    </div>
</div>

<a href="{% url 'gallery:index' %}" class="btn bg-custom-orange text-custom-teal my-5 mx-5"
   style="align-center">Назад</a>

{% endblock %}