{% load static %}
<section id="contact" class="">
    <footer class="bg-custom-orange text-custom-teal text-center py-3">
        <div class="container">
            <p>&copy; 2025 - {% now "Y" %} Natalis Dominini Art пространство . Все права защищены.</p>
            <div class="social-media">
                <a href="https://vk.com/id114320250"><img class="" src="{% static 'images/vk.ico' %}"
                                                          height="25"></a>
                <a href="https://wa.me/79150504063?text="><img class="" src="{% static 'images/whatsapp.ico' %}"
                                                               height="25"></a>
                <a href="https://t.me/nataleno4ek"><img class="" src="{% static 'images/t.ico' %}" height="25"></a>

            </div>
        </div>
    </footer>
</section>