{% extends 'gallery/base.html' %}
{% load path static %}

{% block content %}

<!-- Форма для отправки фильтра -->
<div class="container">
    <div class="col-3 mx-5 my-5">
        <button id="toggleButton" class="btn bg-custom-orange text-custom-teal">Фильтр</button>
    </div>
    <div class="col-6" id="menu">
        <div class="row checkbox-row">
            <div class="col align-center text-custom-light">
                <form method="get" action="">
                    {{ form.as_p }}
                    <button type="submit" class="btn bg-custom-orange text-custom-teal">Отправить</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Галерея -->
<div class="container my-auto" id="gallery">
    <h1 class="text-center mb-4 text-custom-light">Галерея картин</h1>
    <!-- Карусель -->
    <div id="artCarousel" class="carousel slide" data-bs-ride="carousel">
        <!-- Слайды -->
        <div class="carousel-inner">
            {% for chunk in pictures %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <div class="row">
                    {% for image in chunk %}
                    <div class="col-md-4">
                        <div class="card">
                            <a href="{% url 'gallery:detail' image.pk %}" class="">
                                <img src="{% get_url_picture image.picture %}" class="card-img-top"
                                     alt="{{ image.name }}">
                            </a>
                            <div class="card-body">
                                <h5 class="card-title">{{ image.name }}</h5>
                                <p class="card-text">{{ image.description }}</p>
                                <p class="card-text">Цена: {{ image.price }} руб.</p>
                                {% if image not in preorder_list %}
                                    <form method="GET" action="{% url 'trade:mark_to_buy' image.pk %}">
                                        <input type="number" name="quantity" min="1" max="5" value="1" required>
                                        <button type="submit" class="btn bg-custom-orange text-custom-teal">В корзину</button>
                                    </form>
                                {% else %}
                                    <a href="{% url 'trade:mark_to_buy' image.pk %}" class="w-100 btn btn-sm btn-secondary"
                                    style="align-center">Убрать из корзины</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>

        <!-- Кнопки навигации (стрелки) -->
        <button class="carousel-control-prev" type="button" data-bs-target="#artCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Предыдущий</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#artCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Следующий</span>
        </button>
    </div>
</div>
<br>

<!-- О нас -->
<section id="about">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-auto">
                <div class="card shadow-lg" style="max-width: 800px;">
                    <div class="row g-0">
                        <!-- Изображение -->
                        <div class="col-md-5">
                            <img
                                src="{% static 'images/art-owner.enc' %}"
                                class="img-fluid rounded-start h-100"
                                alt="Наталья - художник"
                                style="object-fit: cover;"
                            >
                        </div>
                        <!-- Текст -->
                        <div class="col-md-7 bg-custom-light p-4">
                            <h4 class="text-custom-orange mb-3">О нас</h4>
                            <p class="text-custom-teal">
                                Привет! Меня зовут Наталья. Я - художник. Буду рада, если тебе понравится
                                то, что я делаю, и ты захочешь купить мою картину. Работаю с фотоматериалом из интернета. Всё
                                что представлено
                                на сайте, можно купить. Если есть вопросы, то с радостью отвечу)
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Контакты -->
<section id="send_out" class="container my-5">
    <h2 class="text-center mb-4 text-custom-orange">Напишите нам</h2>
    <div class="row">
        <div class="col-md-6 mx-auto bg-custom-light">
            <form method="post" action="">
                {% csrf_token %}
                {{ post_form }}
                <button type="submit" class="btn bg-custom-orange text-custom-teal pt-auto">Отправить</button>
            </form>
        </div>
    </div>
</section>

{% endblock %}