{% extends 'gallery/base.html' %}
{% load path %}

{% block content %}

<!-- Навигационная панель -->
<nav class="navbar navbar-expand-lg navbar-dark bg-custom-orange">
    <div class="container">
        <a class="navbar-brand text-custom-teal" href="#">Natalis Dominini моё арт-пространство</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active text-custom-teal" aria-current="page" href="#">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-custom-teal" href="#gallery">Галерея</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-custom-teal" href="#about">О нас</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-custom-teal" href="#send_out">Написать нам</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-custom-teal" href="#contact">Контакты</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Форма для отправки фильтра -->

<div class="container">
    <div class="col-3">
        <button id="toggleButton" class="btn bg-custom-orange text-custom-teal">Фильтр</button>
    </div>
    <div class="col-6" id="menu">
        <div class="row checkbox-row">
            <div class="col align-center text-custom-light">
                <form method="get" action="">
                    {{ form.as_p }}
                    <button type="submit" class="btn bg-custom-orange text-custom-teal">Отправить</button>
                </form>
            </div>
        </div>
    </div>
</div>


<script>
    // JavaScript для открытия/закрытия меню
    const toggleButton = document.getElementById('toggleButton');
    const menu = document.getElementById('menu');

    toggleButton.addEventListener('click', () => {
        menu.classList.toggle('open'); // Добавляем/убираем класс .open
        toggleButton.textContent = menu.classList.contains('open') ? 'Закрыть фильтр' : 'Открыть фильтр';
    });
</script>
<!-- Галерея -->

<div class="container my-auto" id="gallery">
    <h1 class="text-center mb-4 text-custom-light" style="">Галерея картин</h1>
    <!-- Карусель -->
    <div id="artCarousel" class="carousel slide" data-bs-ride="carousel">
        <!-- Слайды -->
        <div class="carousel-inner">
            {% for chunk in pictures %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <div class="row">
                    {% for image in chunk %}
                    <div class="col-md-4">
                        <div class="card">
                            <a href="{% url 'gallery:detail' image.pk %}" class="">
                            <img src="{% get_url_picture image.picture %}" class="card-img-top" alt="{{ image.name }}">
                            </a>
                            <div class="card-body">
                                <h5 class="card-title">{{ image.name }}</h5>
                                <p class="card-text">{{ image.description }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>

        <!-- Кнопки навигации (стрелки) -->
        <button class="carousel-control-prev" type="button" data-bs-target="#artCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Предыдущий</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#artCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Следующий</span>
        </button>
    </div>
</div>


<!-- О нас -->
<section id="about" class="">
    <div class="carousel my-5 mx-5">
        <h2 class="text-center mb-4 text-custom-orange">О нас</h2>
        <p class="text-center text-custom-orange">Привет! Меня зовут, Наталья. Я - художник в душе) Творю, в
            свободное
            время. Буду рада, если тебе понравится, то, что я делаю, и ты захочешь купить мою картину. Работаю с
            фотоматериалом из интернета. Все, что представлено на сайте можно купить. Если, есть вопросы, то с
            радостью
            отвечу.</p>
    </div>
</section>

<!-- Контакты -->
<section id="send_out" class="container my-5">
    <h2 class="text-center mb-4 text-custom-orange">Контакты</h2>
    <div class="row">
        <div class="col-md-6 mx-auto bg-custom-light">
            <form method="post" action="">
                {{ post_form }}
                {% csrf_token %}
                <button type="submit" class="btn bg-custom-orange text-custom-teal pt-auto">Отправить</button>
            </form>
        </div>
    </div>
</section>

{% endblock %}