{% load static %}
{% load path %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Natalis Dominini Art пространство</title>
    <link rel="icon" type="image/x-icon" href="{% static 'assets/nataly.ico' %}"/>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <style>
        /* Скрываем меню по умолчанию */
        #menu {
            display: none;
        }

        /* Показываем меню, если добавлен класс .open */
        #menu.open {
            display: block;
        }
    </style>

</head>
<body class="bg-custom-light">

<!-- Навигационная панель -->
<nav class="navbar navbar-expand-lg navbar-dark bg-custom-orange">
    <div class="container">
        <a class="navbar-brand text-custom-teal" href="#">Natalis Dominini моё арт-пространство</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active text-custom-teal" aria-current="page" href="#">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-custom-teal" href="#gallery">Галерея</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-custom-teal" href="#about">О нас</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-custom-teal" href="#send_out">Написать нам</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-custom-teal" href="#contact">Контакты</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<!-- Кнопка меню -->

<!-- Форма для отправки фильтра -->

<div class="container pt-3">
    <div class="col-6">
        <button id="toggleButton" class="btn bg-custom-orange text-custom-teal">Фильтр</button>
    </div>
    <div class="col-6" id="menu">
        <div class="row checkbox-row">
            <div class="col align-center">
                <form method="get" action="">

                    {{ form.as_p }}
                    <button type="submit" class="btn bg-custom-orange text-custom-teal">Отправить</button>
                </form>
            </div>
        </div>
    </div>
</div>


<script>
    // JavaScript для открытия/закрытия меню
    const toggleButton = document.getElementById('toggleButton');
    const menu = document.getElementById('menu');

    toggleButton.addEventListener('click', () => {
        menu.classList.toggle('open'); // Добавляем/убираем класс .open
        toggleButton.textContent = menu.classList.contains('open') ? 'Закрыть фильтр' : 'Открыть фильтр';
    });
</script>
<!-- Галерея -->

<div class="container my-5">
    <h1 class="text-center mb-4">{{ object.genre }}</h1>
    <!-- Карусель -->
    <div id="artCarousel" class="carousel slide" data-bs-ride="carousel">
        <!-- Индикаторы (точки) -->
        <!--            <div class="carousel-indicators">-->
        <!--                <button type="button" data-bs-target="#artCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>-->
        <!--                <button type="button" data-bs-target="#artCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>-->
        <!--                <button type="button" data-bs-target="#artCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>-->
        <!--            </div>-->

        <!-- Слайды -->
        <div class="carousel-inner">
            <!-- Первый слайд -->
            {% for object in pictures %}
            <div class="carousel-item active">
                <div class="card mx-auto" style="width: 18rem;">
                    <img src="{% get_url_picture object.picture %}" class="card-img-top" alt="Картина 1">
                    <div class="card-body">
                        <h5 class="card-title">{{ object.name }}</h5>
                        <p class="card-text">{{ object.description }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}


            <!-- Кнопки навигации (стрелки) -->
            <button class="carousel-control-prev" type="button" data-bs-target="#artCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Предыдущий</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#artCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Следующий</span>
            </button>
        </div>
    </div>
</div>
<!--<section id="gallery" class="container my-5">-->
<!--    <h2 class="text-center mb-4 text-custom-orange">Галерея</h2>-->
<!--    <div class="row">-->
<!--        {% for object in pictures %}-->
<!--        <div class="col-md-4 mb-4">-->
<!--            <div class="card">-->
<!--                <a href="{% get_url_picture object.picture %}"><img src="{% get_url_picture object.picture %}"-->
<!--                                                                    style="height: auto; object-fit: cover;"-->
<!--                                                                    class="card-img-top img-fluid"-->
<!--                                                                    alt="{{ object.name }}"></a>-->
<!--                <div class="card-body">-->
<!--                    <h5 class="card-title text-custom-orange">{{ object.name }}</h5>-->
<!--                    <p class="card-text text-custom-orange">{{ object.description }}</p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        {% endfor %}-->
<!--    </div>-->
<!--</section>-->

<!-- О нас -->
<section id="about" class="">
    <div class="container">
        <h2 class="text-center mb-4 text-custom-orange">О нас</h2>
        <p class="text-center text-custom-orange">Привет! Меня зовут, Наталья. Я - художник в душе) Творю, в
            свободное
            время. Буду рада, если тебе понравится, то, что я делаю, и ты захочешь купить мою картину. Работаю с
            фотоматериалом из интернета. Все, что представлено на сайте можно купить. Если, есть вопросы, то с
            радостью
            отвечу.</p>
    </div>
</section>

<!-- Контакты -->
<section id="send_out" class="container my-5">
    <h2 class="text-center mb-4 text-custom-orange">Контакты</h2>
    <div class="row">
        <div class="col-md-6 mx-auto">
            <form method="post" action="">
                {{ post_form }}
                {% csrf_token %}
                <button type="submit" class="btn bg-custom-orange text-custom-teal pt-auto">Отправить</button>
            </form>
        </div>
    </div>
</section>

<!-- Футер -->
<section id="contact" class="">
    <footer class="bg-custom-orange text-custom-teal text-center py-3">
        <div class="container">
            <p>&copy; 2025 - {% now "Y" %} Natalis Dominini Art пространство . Все права защищены.</p>
            <div class="social-media">
                <a href="https://vk.com/id114320250"><img class="" src="{% static 'images/vk.ico' %}"
                                                          height="25"></a>
                <a href="https://wa.me/79150504063?text="><img class="" src="{% static 'images/whatsapp.ico' %}"
                                                               height="25"></a>
                <a href="https://t.me/nataleno4ek"><img class="" src="{% static 'images/t.ico' %}" height="25"></a>

            </div>
        </div>
    </footer>
</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>